<template name="cardItem">
	<div class="userCardWarp col-md-4 col-sx-12">
		<div class="card panel panel-default">
			<div class="panel-body">
				<div class="cardHeader">
					<!-- <div class="indWrap">
						<h1>test</h1>
					</div> -->
					<div class="userPhoto" style="background-image: url(images/userPhotos/{{firstName}}{{lastName}}.jpg);"></div>
				</div>
			   <h1>{{firstName}} {{lastName}}</h1>
			   <ul>
			   	<li>Last seen {{activeTime}}</li>
			   	<!-- <li>Last seen {{createdAt}}</li> -->
			   	<li>Visited {{timesVisited}} times.</li>
			   	<!-- <li>Rank: 6th</li> -->
			   </ul>
			</div>
		</div>	
	</div>
</template>