<template name="checkIn">
	<div class="container">
		{{> userCard}}
		{{> userCard}}
		{{> userCard}}
	</div>
</template>

<template name="userCard">
	<div class="userCardWarp col-md-4 col-sx-12">
		<div class="card panel panel-default">
			<div class="panel-body">
				<div class="cardHeader">
					<div class="indWrap">
						<h1>test</h1>
					</div>
					<div class="userPhoto"></div>
				</div>
			   <h1>firstName</h1>
			   <p>Last seen: 16 Hours ago</p>
			   <p>Times visited: 13</p>
			   <p>Rank: 6th</p>
			</div>
		</div>	
	</div>
</template>